<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Imagenes</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <select class="form-select" (change)= "SelectCategory($event);">
            <option value="">Filtrar por categoria</option> 
            <option *ngFor="let item of listCategory" [value]="item.key">{{item.value}}</option> 
          </select>
        </li>
      </ul>
      <form class="d-flex" [formGroup]="palabraDigitada">
        <input class="form-control me-2"  formControlName="texto" type="text">
        <button class="btn btn-outline-light" type="submit" (click)="ParameterInputText()">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container espaciado">
  <div class="row">
    <div class="col-2 zoomPointer" data-bs-toggle="modal" data-bs-target="#exampleModal" *ngFor="let item of dataApi">
      <figure class="figure" (click)="GetDetailImage(item)">
        <img src="{{item.previewURL}}" class="figure-img img-fluid rounded">
      </figure>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="{{dataPreview.webformatURL}}" class="figure-img img-fluid rounded"
              alt="{{dataPreview.webformatHeight}}" width="{{dataPreview.webformatWidth}}">
          </div>
          <hr>
          <div class="">
            <ul>
              <li><b>Tags: </b>{{dataPreview.tags}}</li>
              <li><b>Views: </b>{{dataPreview.views}}</li>
              <li><b>Likes: </b>{{dataPreview.likes}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>